<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Center</title>
    <script src="{{url_for('static',filename='bower_components/webcomponentsjs/webcomponents-lite.js')}}"></script>
    <link rel="import" href="{{url_for('static',filename='elements.html')}}" >
    <style is="custom-style" include="iron-flex iron-positioning">

        h-list>div{
            padding:20px;
        }
        h-list>div[focused]{
            color:#FFF;
        }

        v-list>div{
            padding:20px;
        }
        v-list>div[focused]{
            color:#FFF;
        }
        v-list{
            height:100%;
        }
    </style>
</head>
<body class="layout vertical fullbleed unresolved">
    <focus-manager class="layout vertical">
        <h-list id="list" loop="all" down-side="grid">
            <div focus-role="item">1</div>
            <div focus-role="item">2</div>
            <div focus-role="item">3</div>
        </h-list>
        <br>
        <grid-list id="grid" down-side="bottom" up-side="list" columns="8" class="flex">
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="http://netdna.webdesignerdepot.com/uploads/2011/02/jurassicpark.jpg" alt="Jurassic Park"></div>
        </grid-list>
        <br>
        <h-list id="bottom" loop="all" down-side="grid" up-side="list">
            <div focus-role="item">1</div>
            <div focus-role="item">2</div>
            <div focus-role="item">3</div>
        </h-list>
    </focus-manager>
</body>
</html>