<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Media Center</title>
    <script src="{{url_for('static',filename='bower_components/webcomponentsjs/webcomponents-lite.js')}}"></script>
    <link rel="import" href="{{url_for('static',filename='elements.html')}}" >
    <style is="custom-style" include="iron-flex iron-positioning">

        h-list>div[focused]{
            color:#FFF;
        }

        v-list>div{
            padding:20px;
        }
        v-list>div[focused]{
            color:#FFF;
        }
        v-list{
            height:100%;
        }

    </style>
</head>
<body class="layout vertical fullbleed unresolved">
    <focus-manager class="container layout vertical">
        <h-list id="list" loop="all" down-side="grid">
            <div focus-role="item">Home</div>
            <div focus-role="item">Movies</div>
            <div focus-role="item">Series</div>
        </h-list>
        <grid-list id="grid" loop="all" up-side="list" columns="7">
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/161/418/posters/medium/fc50babcf2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/093/720/posters/thumb/e90844dd99.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/803/posters/thumb/7c0684b6f3.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/100/417/posters/medium/aa2218f7b2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/012/884/posters/medium/633edfc561.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/111/posters/medium/2a8732c0b4.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/696/posters/medium/db8a9eb6bd.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/096/220/posters/medium/dc4e3d4c13.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/060/506/posters/medium/6c2eac4d59.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/077/712/posters/medium/fcf96d5950.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/059/262/posters/medium/f952875de9.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/522/posters/medium/0e6117705c.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/106/305/posters/medium/0691ab44be.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/105/489/posters/medium/7fd9213d62.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/054/306/posters/medium/b53099c085.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/001/390/posters/medium/93df9cd612.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/129/583/posters/medium/b66699936d.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/158/008/posters/medium/ba7c0f2f42.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/161/418/posters/medium/fc50babcf2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/093/720/posters/thumb/e90844dd99.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/803/posters/thumb/7c0684b6f3.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/100/417/posters/medium/aa2218f7b2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/012/884/posters/medium/633edfc561.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/111/posters/medium/2a8732c0b4.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/696/posters/medium/db8a9eb6bd.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/096/220/posters/medium/dc4e3d4c13.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/060/506/posters/medium/6c2eac4d59.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/077/712/posters/medium/fcf96d5950.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/059/262/posters/medium/f952875de9.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/522/posters/medium/0e6117705c.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/106/305/posters/medium/0691ab44be.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/105/489/posters/medium/7fd9213d62.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/054/306/posters/medium/b53099c085.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/001/390/posters/medium/93df9cd612.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/129/583/posters/medium/b66699936d.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/158/008/posters/medium/ba7c0f2f42.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/161/418/posters/medium/fc50babcf2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/093/720/posters/thumb/e90844dd99.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/803/posters/thumb/7c0684b6f3.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/100/417/posters/medium/aa2218f7b2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/012/884/posters/medium/633edfc561.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/111/posters/medium/2a8732c0b4.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/696/posters/medium/db8a9eb6bd.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/096/220/posters/medium/dc4e3d4c13.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/060/506/posters/medium/6c2eac4d59.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/077/712/posters/medium/fcf96d5950.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/059/262/posters/medium/f952875de9.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/522/posters/medium/0e6117705c.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/106/305/posters/medium/0691ab44be.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/105/489/posters/medium/7fd9213d62.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/054/306/posters/medium/b53099c085.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/001/390/posters/medium/93df9cd612.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/129/583/posters/medium/b66699936d.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/158/008/posters/medium/ba7c0f2f42.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/161/418/posters/medium/fc50babcf2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/093/720/posters/thumb/e90844dd99.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/803/posters/thumb/7c0684b6f3.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/100/417/posters/medium/aa2218f7b2.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/012/884/posters/medium/633edfc561.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/078/111/posters/medium/2a8732c0b4.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/696/posters/medium/db8a9eb6bd.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/096/220/posters/medium/dc4e3d4c13.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/060/506/posters/medium/6c2eac4d59.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/077/712/posters/medium/fcf96d5950.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/059/262/posters/medium/f952875de9.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/037/522/posters/medium/0e6117705c.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/106/305/posters/medium/0691ab44be.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/105/489/posters/medium/7fd9213d62.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/054/306/posters/medium/b53099c085.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/shows/000/001/390/posters/medium/93df9cd612.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/129/583/posters/medium/b66699936d.jpg" alt="Jurassic Park"></div>
            <div focus-role="item"><img src="https://walter.trakt.us/images/movies/000/158/008/posters/medium/ba7c0f2f42.jpg" alt="Jurassic Park"></div>
        </grid-list>
    </focus-manager>
</body>
</html>